<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipeasy</title>
  <link rel="stylesheet" type="text/css" href="public/login.css">
</head>

<body>
  <container id="login">
  <header>
    <h1>Recipeasy</h1>
    <h2>Recipes made easy!</h2>
    <h4> Please log in to see recipes. </h4>
  </header>
  <main>
    <nav>
        <!-- Login Prompt -->
    <label for="Name">Username:</label>
    <input type="text" id="logUser" name="logUser">
    <label for="Name">Password:</label>
    <input type="text" id="logPass" name="logPass">

        <!-- Sign Up Prompt -->
    <button id="signUpBtn">Sign Up</button>
    </nav>  
    
  </main>
</container>
</body>

</html>