<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipeasy</title>
  <link rel="stylesheet" type="text/css" href="public/login.css">
</head>

<body>
  <header>
    <h1>Recipeasy</h1>
    <h2>Recipes made easy!</h2>
  </header>
  <main>
    <nav>
        <!-- Login Prompt -->
    <label for="Name">Username:</label>
    <input type="text" id="logUser" name="logUser">
    <label for="Name">Password:</label>
    <input type="text" id="logPass" name="logPass">
        <!-- Logout Prompt -->
    <button id="logoutBtn">Logout</button>
    
  </nav>  
  </main>
</body>

</html>