<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipeasy</title>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/search.css">
</head>

<body>
  <header>
    <h1>Recipeasy</h1>
    <h2>Recipes made easy!</h2>
  </header>
  <main>
    <nav>
   <button>My Recipes</button>
   <button>Search Recipes</button>
   <button>Search by Ingredients</button>
    
  </nav>  
  </main>
</body>

</html>