<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipeasy</title>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="landing.css">
</head>

<body>
  <container id="login">
  <main>
    <nav>
    <div class="wrapper">
        <div class="info_box">

          <h2 class="subtitle">Welcome to Recipeasy</h2>
          
          <p>Say hello to the ultimate kitchen companion! Are you constantly
             wondering what you can make with the ingredients you have on hand? Look
             no further. At Recipeasy, you can find hundreds of delicious and easy-to-make
             recipes that use ingredients commonly found in most kitchens. Whether you're a
             seasoned cook or just starting out, this easy-to-use website will be your go-to
             source for inspiration. Explore our wide range of recipes and start cooking up
             a storm!</p>


          <div class="btns">
            <div class="btn">
               <button class="btn-submit" href="/login">Log In</button>
            </div>
          </div>
        </div>
      </div>
  </nav>  
  </main>
</container>
</body>

</html>