<section class="container">
    <h3 class="recipe-name">{{recipe.name}}</h3>
    
</section>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search Results</title>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./results.css">
</head>
<body>
    <header>
        <h1>Recipeasy</h1>
        <h2>Recipes made easy!</h2>
    </header>
    <main>
        <div class="recipe">
            <img src="/Results/css/Bologneseplatedside.jpg" alt="Spaghetti Bolognese">
            <div class="recipe-details">
                <h2>Spaghetti Bolognese</h2>
                <p>A classic Italian dish with savory meat sauce served over pasta.</p>
            </div>
        </div>

        <div class="recipe">
            <img src="/Results/css/Chicken-Alfredo-bowl.jpg" alt="Chicken Alfredo">
            <div class="recipe-details">
                <h2>Chicken Alfredo</h2>
                <p>Creamy Alfredo sauce paired with tender chicken and fettuccine pasta.</p>
            </div>
        </div>

        <div class="recipe">
            <img src="/Results/css/Chicken-Alfredo-bowl.jpg" alt="Chicken Alfredo">
            <div class="recipe-details">
                <h2>Chicken Alfredo</h2>
                <p>Creamy Alfredo sauce paired with tender chicken and fettuccine pasta.</p>
            </div>
        </div>

        <div class="recipe">
            <img src="/Results/css/Chicken-Alfredo-bowl.jpg" alt="Chicken Alfredo">
            <div class="recipe-details">
                <h2>Chicken Alfredo</h2>
                <p>Creamy Alfredo sauce paired with tender chicken and fettuccine pasta.</p>
            </div>
        </div>

        <div class="recipe">
            <img src="/Results/css/Chicken-Alfredo-bowl.jpg" alt="Chicken Alfredo">
            <div class="recipe-details">
                <h2>Chicken Alfredo</h2>
                <p>Creamy Alfredo sauce paired with tender chicken and fettuccine pasta.</p>
            </div>
        </div>

    </main>
</body>
</html>
