<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipeasy</title>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/search.css">
</head>

<body>
    <main>
        {{#if loggedIn}}
        <h1 class="title">Please select your ingredients from the list below</h1>
        <section class="wrapper" id="options">
        {{#each ingredients}}
        <label class="container" data-ing_id="{{ing_id}}">
            
            <input type="checkbox">
            <span class="checkmark">{{name}}</span>
        </label>
        {{/each}}
        </section>
        <div>
            <button class="btn-submit" id="search">Search</button>
        </div>
        {{else}}
        <a href="/login" class="title">You must login first to view this page</a>
        {{/if}}
    </main>
    <script src="./js/search.js"></script>
</body>